*{
    margin: 0;
    padding: 0;
}
    /*Cabecera*/
.cabecera{
    background-color: rgb(189, 108, 20);
}
.collapse{
   margin-right: 10px;
}
.cabecera__logo{
    width: 5rem;
    margin-left: 20px;
}
.nav-link{
    font-size: 20px;
}
    /*Fin de Cabecera*/

    /*Inicio*/
.main__inicio{
    background-image: url(./imagen/imageninicio2.jpg);
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
}
.inicio__texto1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #FECF07;
    margin: 10rem 0rem 5rem 0rem;
}
.inicio__texto2{
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
}
.incio__texto3{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 4rem;
}

    /*Footer*/
.footer{
    background-color: black;
}    

.secciones p{
    color: white;
}
/*Fin de Footer*/