*{
    margin: 0;
    padding: 0;
}
    /*Cabecera*/
.cabecera{
    background-color: rgb(189, 108, 20);
}
.collapse{
   margin-right: 10px;
}
.cabecera__logo{
    width: 5rem;
    margin-left: 20px;
}
.nav-link{
    font-size: 20px;
}
    /*Fin de Cabecera*/

    /*Inicio*/
.main__inicio{
    background-image: url(./imagen/imageninicio2.jpg);
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
}
.inicio__texto1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #FECF07;
    margin: 10rem 0rem 5rem 0rem;
}
.inicio__texto2{
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
}
.incio__texto3{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 4rem;
}
    /*Fin de Inicio*/

    /*Nosotros*/
.img-fluid{
    width: auto;
    margin: 10px;
    
}
.nosotros__titulo{
    color: #FECF07;
    font-family: museosans_900;
    align-self: flex-start;
    justify-self: flex-end;
    margin: 10px;
    
}
.nosotros__titulo--texto{
    font-family: museosans_100 ;
    margin-left: 1rem;
    
}
.nosotros__imagen--compromiso{
    width: 5rem;
    height: 5rem;
    align-self: center;
}
.nosotros__text--compromiso{
    font-family: museosans_500;
    align-self: center;
}


.nosotros__imagen--calidad{
    width: 5rem;
    height: 5rem;
    align-self: center;
}

.nosotros__text--calidad{
    font-family: museosans_500;
    align-items: center;
    margin: 0rem ;
    align-self: center;
    
}
.nosotros__imagen--fabrica{
    width: 5rem;
    height: 5rem;
    align-self: center;
}
.nosotros__text--fabrica{
    align-self: center;
    font-family: museosans_500;
}
.nosotros__imagen--entrega{
    width: 5rem;
    height: 5rem;
    align-self: center;
}
.nosotros__text--entrega{
    align-self: center;
    font-family: museosans_500;
}    
    /*Fin de Nosotros*/

    /*Modelos*/   
.main__modelos{
    background-color: black;
} 
.texto__modelos{
    font-size: 1.5rem;
    margin: 2rem 0rem 0rem 2rem;
    color: #FECF07;
}
.img-fluid{
    width: 750px;
    
}



    /*Footer*/
.footer{
    background-color: black;
}    

.secciones p{
    color: white;
}
/*Fin de Footer*/